<!-- products_list.html -->
{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center; margin: 20px; ">{{category.name}}</h1>

<div class="category-container container">
    {% for course in Courses %}
    <div class="category-card">
        <div class="category_name">
            {{ course.name }}
        </div>
        <div class="image-container">
            {% if course.image %}
            <img src="{{ course.image.url }}" alt="{{ course.name }}" class="category-image">
            {% endif %}
        </div>

        <div>
            <h4>{{ course.title }}</h4>
            <p>{{ course.description }}</p>
            <p class="text-danger fw-semibold"> Price : {{ course.price }}$</p>
        </div>

        <div class="buy-now-btn">
            <a href="#" class="btn-primary">Buy Now</a>
            <a href="#" class="btn-primary ms-2">Play</a>
        </div>
    </div>
    {% endfor %}

</div>

<style>
    .course-name {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .course-buy a {
        text-decoration: none;
        padding: 10px;
        color: white;
    }

    .category-details-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: around;
    }

    .course-title {
        margin-top: 20px;
    }

    .buy-now-btn a {
        text-decoration: none;
        padding: 10px 15px;
        color: #fff;
        font-weight: bold;
    }

    .course-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .category-card {
        margin-bottom: 20px;
        border: 1px solid rgb(200, 199, 199);
        border-radius: 10px;
        padding: 30px;
    }

    .category-image {
        max-width: 100%;
        height: auto;
    }

    .category_name {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        color: green;
        transition: color 0.5;
    }

    .category-details {
        color: green;
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        transition: color 1s;
    }

    .category_name:hover {
        color: red;
    }

    .category-card:hover .category-image {
        transform: scale(1.02);
    }
</style>

{% endblock %}