<!-- products_list.html -->
{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center; margin: 20px; ">{{category.name}}</h1>

<div class="category-container">


   {% for course in Courses %}
   <div class="category-card">
       <div class="category_name">
           {{ course.name }}
       </div>
       
       {% if course.image %}
       <img src="{{ course.image.url }}" alt="{{ course.name }}" class="category-image">
       {% endif %}

       <div> {{ course.title }} </div>
     
       <div class="category-details">
           <a href="{% url 'CourceDetails' course.id %}" class="category-details">Details</a>
       </div>
   </div>
   {% endfor %}

</div>

<style>


    .category-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: around;
    }

    .category-card {
        width: 33%; /* Adjust as needed */
        margin-bottom: 20px;
        border: 1px solid #ddd;
        padding: 10px;
        box-sizing: border-box;
    }

    .category-image {
        max-width: 100%;
        height: auto;
    }

    .category_name {
        text-align: center; 
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold; 
        color: green;
        transition: color 0.5;
    }

    .category-details {
        color: green;
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        transition: color 1s; 
    }

    .category_name:hover {
        color: red; 
    }

    .category-card:hover .category-image {
        transform: scale(1.02); /* Apply a scale transformation on hover */
    }
        
</style>

{% endblock %}
