<!-- products_list.html -->
{% extends 'base.html' %}

{% block content %}

<h2 class="category-heading">Course Categories</h2>

<div class="category-container container">
    <div class="category_name">
        {{category.name }}
    </div>
    {% for category in Categories %}
    <div class="category-card">
        <div class="course-details">

            {% if category.image%}
            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="course-image">
            {%endif%}
            <h3 class="course-title">{{ category.name }}</h3>
        </div>
        <div class="category-details">
            <a href="{% url 'category_details' category.slug %}" class="category-details">See Details</a>
        </div>

    </div>
    {% endfor %}
</div>

<style>
    .course-details {
        text-align: center;
    }

    .course-title {
        text-align: left;
        font-size: 20px;
        margin-top: 20px;
    }

    .course-image {
        height: 300px;
        max-width: 100%;
        text-align: center;
    }

    .category-heading {
        text-align: center;
        margin-bottom: 20px;
    }

    .category-container {
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
    }

    .category-card {
        margin-bottom: 20px;
        border: 1px solid rgb(200, 199, 199);
        border-radius: 10px;
        padding: 30px;
    }

    .category_name {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        color: green;
        transition: color 0.5;
    }

    .category-details {
        color: blue;
        text-align: left;
        margin-top: 10px;
        font-size: 20px;
    }


    .category-card:hover .category-image {
        transform: scale(1.02);
        /* Apply a scale transformation on hover */
    }
</style>

{% endblock %}