{% extends 'base.html' %}

{% load static %}

{% block title %}Certificate of Completion{% endblock %}

{% block content %}

<br/><br/>

<div class="certificate-container">
    <h1>Certificate of Completion</h1>
    <p>This certificate is awarded to: <span class="learner-name">{{ learner_name }}</span></p>
    <p>For successfully completing the course: <span class="course-title">{{ course_title }}</span></p>
    <p>Completion Date: <span class="completion-date">{{ issue_date }}</span></p>
    <p>Course Instructor: <span class="instructor-name">{{ instructor_name }}</span></p>
    <button id="downloadBtn">Download as PDF</button>
</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        text-align: center;
        margin: 20px;
        background-color: #f4f4f4;
    }

    .certificate-container {
        background-color: #fff;
        border: 2px solid #3498db; /* Added border */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
    }

    h1 {
        color: #3498db;
    }

    p {
        margin: 10px 0;
        color: #555;
    }

    .learner-name, .course-title, .completion-date, .instructor-name {
        font-weight: bold;
        color: #333;
    }
</style>

<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script>
    document.getElementById('downloadBtn').addEventListener('click', function () {
        var element = document.querySelector('.certificate-container');
        html2pdf(element);
    });
</script>

{% endblock %}
