{% extends 'base.html' %}
{% load static %}

{% block content %}                 

<div  class="main-content">
   
    <!--########################## Profile Starts Here ############################# -->
    
    <div class="profile-head">
       <div class="row vh-100">
           <div class="col-xl-6 text-center mx-auto align-self-center ">
                <div class="imgcover mb-4">
                    <img src="{{ profile.image.url }}" class="rounded-pill bg-white p-2 shadow" alt="">
                </div>
                <b class="fs-3">{{ profile.name }}</b>
                <h1 class="fw-bold mb-4 fs-1">Full Stack Develper</h1>
                <p>Mauris cursus libero eu gravida malesuada. Vivamus efficitur sollicitudin tincidunt. Vivamus iaculis, est et posuere facilisis, sem nisi volutpat enim, eget hendrerit libero ligula quis lacus</p>
                <ul>
                    <li></li>
                </ul>
                {% if address is None %}
                <a href = "{% url 'addinfo' %}">
                <button class="btn btn-outline-primary fw-bolder fs-7 px-4 py-2 mt-3 rounded-pill">Give more inforrmation</button>
                </a>
                {% else %}
                <a href = "{% url 'editinfo' %}">
                  <button class="btn btn-outline-primary fw-bolder fs-7 px-4 py-2 mt-3 rounded-pill">Edit Information</button>
                </a>
                {% endif %}
            </div>
       </div>
    </div>
    
    <!--########################## About Us Starts Here ############################# -->
    
    <div id="about" class="about px-4 bg-white py-5">
        <div class="titie-row row mb-3">
            <h2 class="fw-bolder">About Me</h2>
        </div>
        <div class="row">
            <div class="col-md-15">
                <p><b>I am, Eiden Jackeson</b></p>
                <p class="pt-2 fs-6 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum id tempor libero. Praesent vel magna eget purus dignissim interdum. Sed efficitur malesuada dui, ac interdum ante scelerisque non. Curabitur quis euismod lorem, vel rutrum ante. Sed non vestibulum turpis. Phasellus sit amet nisl in diam congue tristique. Nullam convallis lectus ac nisl iaculis, non posuere ipsum interdum. Vivamus nec justo ac sapien convallis maximus.</p>
                
                {% if request.user.AccounType == "Student" %}
                <h4 class=" fs-5 my-3 mt-4 fw-bolder">What is my skill level ?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum sit nibh amet egestas tellus.</p>
                
                <div class="row skill-set">
                    <div class="col-md-6 py-3">
                       <h6 class="fw-bold">React.Js</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                     <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Vue.Js</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                    <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Angular.Js</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                    </div>
                    
                     <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Laravel</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Django</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Next Js</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">66%</div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Phoptoshop</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 82%;" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">82%</div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Sketch</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-5">
                <img src="assets/images/profile.jpg" alt="">
            </div>
        </div>
    </div>
    
    <!--########################## Services Starts Here ############################# -->
    {% if request.user.AccounType == "Instructor" %}
    <div id="service" class="service px-4 py-5">
         <div class="titie-row row mb-3">
            <h2 class="fw-bolder">Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum sit nibh amet egestas tellus.</p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">Website Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
            
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">UI/UX Development</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
            
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">Web Development</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
            
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">Android Development</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
            
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">IOS Developement</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
            
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">Digital Marketing</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <!--########################## Portfolio Starts Here ############################# -->
    
   
    
    
    
</div>      

{% endblock content %}
