{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center mt-3 mb-3 fw-normal fs-4 text-secondary">Teacher Activity</h3>
    <div class="d-lg-flex justify-content-sm-center justify-content-lg-around gap-lg-3">
        <div class="col card border-success mb-3">
            <div class="card-header bg-transparent text-dark text-uppercase">Blog</div>
            <div class="card-body">
                <p class="card-text text-dark">You can post a blog from here.</p>
            </div>
            <div class="card-footer bg-transparent border-top-0"><a href="#" class="btn btn-primary">Blog</a>
            </div>
        </div>
        <div class="col card border-success mb-3">
            <div class="card-header bg-transparent text-dark text-uppercase">Mcq</div>
            <div class="card-body">
                <p class="card-text text-dark">Your can submit MCQ from here.</p>
            </div>
            <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between"><a
                    href="{% url 'mcq' %}" class="btn btn-primary">MCQ</a>
                <a href="{% url 'createmcq' %}" class="btn btn-primary">Create MCQ</a>
            </div>
        </div>
        <div class="col card border-success mb-3">
            <div class="card-header bg-transparent text-dark text-uppercase">Assignment</div>
            <div class="card-body">
                <p class="card-text text-dark">Your can submit Assignment from here.</p>
            </div>
            <div class="card-footer bg-transparent border-top-0"><a href="#" class="btn btn-primary">Assignment</a>
            </div>
        </div>
        <div class="col card border-success mb-3">
            <div class="card-header bg-transparent text-dark text-uppercase">Announcement</div>
            <div class="card-body">
                <p class="card-text text-dark">Your announcement are placed here.</p>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <a href="{% url 'create_announcement' %}" class="btn btn-primary">Announcement</a>
            </div>
        </div>

    </div>


    {% endblock %}